.loading {

  form {
    position: relative;

    &::after {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      background: rgba(255, 255, 255, .95) url('assets/loader-hearts.svg') center center no-repeat;
    }
  }
}