.pushes {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin-bottom: -10px;

  > * {
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
  }
}

.push {
  text-align: center;

  .push--large {
    font-weight: 900;
    font-size: 3rem;
  }

  .push--small {
    text-transform: lowercase;
    font-size: .8rem;
    margin-top: .2rem;
  }
}